asgiref==3.5.2; python_version >= "3.8"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
django-rest-framework==0.1.0
django==4.0.5; python_version >= "3.8"
djangorestframework==3.13.1; python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pytest-django==4.5.2; python_version >= "3.5"
pytest==7.1.2; python_version >= "3.7"
pytz==2022.1; python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.8"
tomli==2.0.1; python_version >= "3.7"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
