{% for gift in gifts %}
<tr id="gift-{{ gift.pk }}" class="table-row">
    <td style="max-width: 150px; word-wrap: break-word;">{{gift.title}}</td>
    <td style="max-width: 150px; word-wrap: break-word;">{{gift.recipient.first_name}} {{gift.recipient.last_name}}</td>
    <td style="max-width: 150px; word-wrap: break-word;">{{gift.link}}
    </td>
    <td style="max-width: 150px; word-wrap: break-word;">
        {% if gift.given == True %}Yes{%else%}No{% endif %}
    </td>
    <td style="max-width: 150px; word-wrap: break-word;">
        <a hx-get="{% url 'gift_edit' pk=gift.pk %}" hx-target="#dialog"><span class="iconify text-primary"
                data-icon="ep:edit-pen" data-width="24" data-height="24" style="margin-right:2px"></span></a>
        <a hx-get="{% url 'gift_delete' pk=gift.pk %}" hx-target="#dialog"><span class="iconify text-primary" data-icon="fluent:delete-16-regular" data-width="24"
                data-height="24"></span></a>
    </td>
</tr>
{% endfor %}