{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}
{% block content %}
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this">

    </div>
</div>
<div class="col-md-7">
    <br><br><br><br>
    <button hx-get="{% url 'gift_add' %}" hx-target="#dialog">
        Add
    </button>
    <table class="table flex-wrapper" id="gift_tbl">
        <thead>
            <tr>
                <th scrope="col">Title</th>
                <th scrope="col">Recipient</th>
                <th scrope="col">Link</th>
                <th scrope="col">Given?</th>
                <th scrope="col">Actions</th>
            </tr>
        </thead>
        <tbody hx-trigger="load, giftListChanged from:body" hx-get="{% url 'gift_list' %}" hx-target="this">

        </tbody>
    </table>
</div>

{% endblock content %}