{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% if user.is_authenticated %}
{% load active_link_tags %}
        <div class="col-md-3">
            <nav class="space-top">
                <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-black bg-white">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                        <span class="fs-4">Gift Assistant</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'recipients' %}" class="nav-link {% active_link 'recipients' 'active' %}">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="recipients"></use>
                                </svg>
                                Recipients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'occasions' %}" class="nav-link {% active_link 'occasions' 'active' %}">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="occasions"></use>
                                </svg>
                                Occasions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gifts' %}" class="nav-link {% active_link 'gifts' 'active' %}">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="gifts"></use>
                                </svg>
                                Gifts
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>{{ user.get_username }}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {% endif %}