{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extra_css %}
{% block content %}
<nav id="sidebar" class="space-top">
    {% include "sidebar.html" %}
</nav>

<div class="container">
    <div class="jumbotron jumbotron-fluid" id="ga-welcome">
        <h1 class="display-4">Welcome back {{ user.get_username }}</h1>
        <p class="lead">Choose a sidebar option to get started</p>
    </div>
</div>
{% endblock content %}