{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add Recipient</h5>
    </div>
    <div class="modal-body">
    <p class="alert alert-danger" id='errors' style="display:none">
    </p>
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
    </div>
    {% buttons %}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
    {% endbuttons %}
  </form>
