{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}
{% block content %}
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this">

    </div>
</div>

<div class="col-md-8">
    <br><br><br><br>
    <button class="btn btn-primary" hx-get="{% url 'occasion_add' %}" hx-target="#dialog">
        Add
    </button>
    <table class="table flex-wrapper" id="occasion_tbl">
        <thead>
            <tr>
                <th scope="col" style="max-width: 150px; word-wrap: break-word;">Recipient</th>
                <th scope="col" style="max-width: 150px; word-wrap: break-word;">Type</th>
                <th scope="col" style="max-width: 150px; word-wrap: break-word;">Date</th>
                <th scope="col" style="max-width: 150px; word-wrap: break-word;">Action</th>
            </tr>
        </thead>
        <tbody hx-trigger="load, occasionListChanged from:body" hx-get="{% url 'occasion_list' %}" hx-target="this">

        </tbody>
    </table>
</div>

{% endblock content %}