{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<form hx-post="{{ request.path }}" class="modal-content">
    <ul style='list-style: none;' }>
        {% for key, value in form.errors.items %}
        <li style="list-style: none;">{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
        {% endfor %}
    </ul>
    <div class="modal-header">
        <h5 class="modal-title">Delete?</h5>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        <div class="container">
            <p>Are you sure you want to delete {{occasion.name}} for {{occasion.recipient.first_name}}
                {{occasion.recipient.last_name}}?</p>
        </div>
    </div>
    {% buttons %}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
    </div>
    {% endbuttons %}
</form>