{% for gift in gifts %}
<tr id="gift-{{ gift.pk }}" class="table-row">
    <td>{{gift.title}}</td>
    <td >{{gift.occasion.recipient}}'s {{gift.occasion.occasion_type}}</td>
    <td ><a href={{gift.link}}>Gift Link</a></td>
    <td >
        {% if gift.given == True %}Yes{%else%}No{% endif %}
    </td>
    <td >
        <a hx-get="{% url 'gift_edit' pk=gift.pk %}" hx-target="#dialog"><span class="iconify text-primary editbutton"
                data-icon="ep:edit-pen" data-width="24" data-height="24"></span></a>
        <a hx-get="{% url 'gift_delete' pk=gift.pk %}" hx-target="#dialog"><span class="iconify text-primary" data-icon="fluent:delete-16-regular" data-width="24"
                data-height="24"></span></a>
    </td>
</tr>
{% endfor %}