html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#ga-welcome {
    padding-top: 50px;
    float: left;
}

.content {
    flex: 1 0 auto;
}

.soft-background {
    background: rgba(229, 231, 235, 0.75);
}


.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }