{% extends 'base.html' %}
{% load static %}
{% block custom_stylesheet %}
<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
{% endblock custom_stylesheet %}
{% block content %}
<br><br>
<div class="container-fluid soft-background" id="loginForm">
    <h3 id="loginh3">Log in to Gift Assistant</h2>

        <form class="form-horizontal signup-form" id="userLoginForm" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" type="text" name="login" placeholder="Username" autocomplete="off"
                    maxlength="150" required="" id="id_login">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off"
                    required="" id="id_password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
</div>
{% endblock content %}
{% block footer %}
<footer class="py-3 my-4 soft-background">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-black">About</a></li>
        <li class="nav-item">
            <p class="nav-link px-2 text-small">Photo by Olivia Bollen on Unsplash</p>
        </li>
    </ul>
    <p class="text-center text-black">© 2022 Heather Gray</p>
</footer>
{% endblock footer %}






<input type="password" name="password" placeholder="Password" autocomplete="off" required="" id="id_password"
    style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAYdJREFUOBGVVLuKwkAUPTErioVgY5WF2AhpFKz8AC0W0vgTK9injvkMt7HyB6zWSuy1s1WRXUJQ0cJCxSLOnSSzcYmaDGTmPs45M3fuEMmyrA/XdXvse0eMIUnSD4N9drvdb4KnkpCJ4G/0RTYNEoi1swf35jAnFU68snO5HMrl8h0skYCqqmg0GtEC2WxWJDKZDNhlCT+cE0HfeKNV13XUajUMBgPs93t0Oh3Yto1+v3+X+08mP1EJUQKSaZouJeiY5/OZY6iEy+UShRcxVuIvc9riBAGZEK/IhGGtVNjS43dAgWej2WyiUqlAlmWs12sMh0OcTicuIk7wTOBwOGA+n2O5XELTNJRKJQFP+W9bBKKM6XSK4/GIfD4Px3G4UIAjgXYckXq9DkVRsN1ukU6nAz7+XosIeUbQHfKIcL1eUa1W0Wq1MB6PMZlMODDWJRqGgd1uh0KhwEmbzYavND0UoD77rcJoNEKxWOS1LxYLrFYrLkCYhwIMQXdDPxplNptxQngiMmFuABiQmENn7wkAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">